<div class="dental">
    <div class="image-container">
<img src="https://t4.ftcdn.net/jpg/02/56/38/49/360_F_256384938_yiXLXlCRTA3AmMZX75m8AvfIHGIEUb7I.jpg"alt="" style="width: 60%;height: 450px;margin-top: 1rem;">
</div>
<h1>Top Nutrition Doctors Available</h1>
<div class="container">
    <div class="card" *ngFor="let doctor of DoctorsList">
        <img class="card-img-top" [src]="doctor.img" alt="Card image cap">
        <div class="card-body">
            <h2>{{doctor.name}}</h2>
            <h3>{{doctor.qualification}}</h3>
            <h3>{{doctor.exp}}</h3>
            <a href="#" class="book-now">BOOK NOW</a>
        </div>
    </div>
</div>
</div>

