.footer1{
background-color: rgba(48, 206, 206, 0.566);;
padding-top: 2rem;
}
.link1,.link2 ,.link3,.link4{
    display: flex;
    flex-direction: column;
   
   
    
}
.source1,.source2,.source3,.source4{
color:black;
font-family: decimal-light, sans-serif;
padding: 0.6rem;
text-decoration: none;
}
.source1:hover,.source2:hover,.source3:hover,.source4:hover{
text-decoration: underline;
}
.footer1 {
    display: flex;
    
    justify-content: space-around;
    
   
    
}