<div>
    <div class="footer1">
        <div class='link1'>
            <h5 style="color: white; font-weight: bolder;">TRUSTCARE</h5>
            <a class='source1' routerLink="/about">About</a>
            <a class='source1' href='#'>Guiding Principles</a>
            <a class='source1' routerLink="/blog">Blog</a>
            <a class='source1' href='#'>Careers</a>
            <a class='source1' href='#'>Press</a>

        </div>

        <div class='link2'>
            <h5 style="color: white; font-weight: bolder;">JOIN US</h5>

            <a class='source1' href='#'>For Organizations</a>
            <a class='source1' href='#'>For Doctors</a>
            <a class='source1' href='#'>Jobs</a>
            <a class="source1" href="#">Donations</a>

        </div>
        <div class='link3'>
            <h5 style="color: white; font-weight: bolder;">OUR POLICIES</h5>
            <a class="source2" href="#">Subscribers</a>
            <a class='source2' href='#'>Privacy Policy</a>
            <a class='source2' href='#'>Terms & Conditions</a>
            <a class='source2' href='#'>Standards of Care</a>
        </div>
        <div class='link4'>

            <h5 style="color: white; font-weight: bolder;">CONNECT</h5>
            <a class='source4' href='http://localhost:3000/Contact1'>
                <i class="fas fa-envelope"></i>  Email us
            </a>
            <a class='source4' href='https://www.instagram.com/trustcare_mizoram/'>
                <i class="fab fa-instagram"></i> Instagram
            </a>
            <a class='source4' href='https://www.youtube.com/@trustcare2204'>
                <i class="fab fa-youtube"></i>  YouTube
            </a>
            <a class='source4' href='https://x.com/Trust__Care'>
                <i class="fab fa-twitter"> </i> Twitter
            </a>
            <a class='source4' href='https://in.pinterest.com/search/pins/?q=trsutcare&rs=typed'>
                <i class="fab fa-pinterest"></i>  Pinterest
            </a>
        </div>
        </div>
        <div class="footer2" style="text-align: center; background-color: rgba(48, 206, 206, 0.566);">
            <h2 style="color: white; font-family: 'Times New Roman', Times, serif; font-weight: bolder; padding-top: 1rem;"><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQ_ZzJzCXXDRk_rW7FKqYWQ4vNKZjYOq_Y3w89UBHxtdtlceGIO" alt="imagenotfound" style="height: 5rem; cursor: pointer; "><br>TrustCare</h2><br>
            
        </div>

    


</div>