<div class="forgot-container">

    <h4 style="margin-top: 1rem;text-align: center;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"><i class="fas fa-exclamation-triangle" style="color: orange;"></i>
        Are You Sure You Want To Logout?

    </h4>
    <button (click)="yes()"style="background-color: white;color:black ;border: 0;margin-top: 2rem;font-size: 1.1rem;margin-left: 8rem;font-weight: bold;">YES</button>
    <button
       (click)="cancel()" style="background-color: white;color:black;border: 0;margin-top: 2rem;font-size: 1.1rem;margin-left: 7rem;font-weight: bold;">CANCEL</button>
</div>