<div class="symptoms">
    <div class="headlines">
      <div class="header" style="padding: 1.5rem;padding-bottom: 0;">
        <h2>Common Health Concerns</h2>
        <button (click)="toggleCardsDisplay()">{{ showAllCards ? 'Show Less' : 'See All' }}</button>
      </div>
      <p class="p" style="padding-left: 1rem;font-size: 1.1rem;padding-bottom: 0.8rem;">
        Select the health symptom to find relevant doctors
      </p>
    </div>
  
    <div class="cards">
      <!-- Display only first 6 cards initially, and all cards if showAllCards is true -->
      <div class="card" *ngFor="let card of cards; let i = index" [hidden]="!showAllCards && i >= 5">
        <img [src]="card.image" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ card.title }}</h5>
          <a routerLink="/booking">Consult Now <i class="fas fa-angle-right"></i></a>
        </div>
      </div>
    </div>
  </div>
  