.symptoms{
    margin-top: 8rem;
    width: 92%;
 margin-left: 2rem;
 

        
}.header,.p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right,rgb(228, 249, 249),rgba(245, 245, 245, 0.539),#EAF7F8,#1bb1da22);
   
}
.header h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: rgb(93, 90, 90);
  
}
.header button{
    background-color:#1bb1da47 ;
    color: rgb(93, 90, 90);
    border: 1px solid gray;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 2rem;
    padding: 0.5rem;
    width: 6rem;
}
.header button:hover{
    color: white;
}
.card-body a{
   color:rgba(48, 206, 206, 0.701);
   font-weight: bold;
   font-size: 1rem;
}
.card-body a:hover{
  font-size: 1.1rem;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1.4rem;
   
}

.card {
    width: calc(25% - 1rem); 
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 10px;
     box-shadow:2px 2px 2px 2px rgba(88, 227, 227, 0.144);   ;
    height: fit-content;
    
    
    
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-body {
    padding: 1rem;
}

.card-title {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}
