.blogs{
    font-size: 3rem;
   
    font-weight: 600;
    text-align: center;
    margin-top: 4rem;
    color: #2cd3e2;
   
}
.blogs h1{
   padding-bottom: 3rem;
}
.a:hover{
 text-decoration: underline;
}
.a{
    color: white; 
    display: block;
     margin-top: 17rem;
     font-size: 1.3rem;
     text-decoration: none;
   margin-right: 39rem;
  
}
.card-text{
    font-size: 1.4rem;
}
.cards1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgba(240, 255, 255, 0.482);
    row-gap: 3rem;
    padding-bottom: 4rem;
}