<div class="blogs">
    <h1>Stories Worth Sharing: Explore Our Blog</h1>
    <div class="cards">
        <div class="card text-bg-dark">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-dh9Mh9SR0vY1ZVai2QR-KWAhPKq1qZPvtA&s"
                class="card-img" alt="..." style="height: fit-content;">
            <div class="card-img-overlay">
                <a routerLink="/read" class="a">READ HERE</a>
            </div>
        </div>
    </div>
    <h1 style="padding-top: 4rem;font-size: 2rem;color: black;">LATEST BLOGS</h1>
    <div class="cards1" style="padding-top: 2rem;">
        <div class="card" style="width: 32rem;height: 24rem;">
            <img src="https://www.carehospitals.com/assets/images/main/tuberculosis-diet-what-to-eat-and-avoid.webp" class="card-img-top" alt="..." style="height: 22rem;">
            <div class="card-body">
               
                <p class="card-text">Tuberculosis Diet: What to Eat and What to Avoid?</p>
                <a routerLink="/tuberblog" class="btn btn-dark" style="margin-bottom: 1rem;">Read More</a>
            </div>
        </div>
        <div class="card" style="width: 32rem;height: 24rem;">
            <img src="https://www.kevinmd.com/wp-content/uploads/shutterstock_1493445563.jpg" class="card-img-top" alt="..." style="height: 20rem;">
            <div class="card-body">
               
                <p class="card-text">Heart Attack and Stroke – Are They Different?</p>
                <a routerLink="/heartblog" class="btn btn-dark" style="margin-bottom: 1rem;">Read more</a>
            </div>
        </div>

        <div class="card" style="width: 32rem;height: 24rem;">
            <img src="https://etimg.etb2bimg.com/photo/109993916.cms" class="card-img-top" alt="..."style="height: 14rem;">
            <div class="card-body">
               
                <p class="card-text">What Are The Side Effects Of Covishield?</p>
                <a routerLink="/vaccine" class="btn btn-dark" style="margin-bottom: 1rem;">Read more</a>
            </div>
        </div>
    </div>
</div>