<div>
    <div class="about1">
        <h2 class="tag1">Discover the Heartbeat of Our Trustcare Community</h2>
        <p class="tag2">Our vision at TrustCare is to create a world where healthcare is universally accessible and
            affordable for every person.Through our innovative solutions, we bring quality medical assistance to every
            doorstep, ensuring better health outcomes for all."</p>
    </div>
    <div class="about2" style="margin-top: 5rem;">
        <div class="card text-bg-info  bg-opacity-50 bg-gradient">
            <img src="https://static8.depositphotos.com/1403931/924/i/450/depositphotos_9245929-stock-photo-happy-mature-couple-outdoors.jpg"
                class="card-img" alt="">

            <div class="card-img-overlay">

                <h5 class="card-title">Health, the Cornerstone of Happiness</h5>
                <p class="card-text">It is the journey that takes you to new destinations every day with endless
                    possibilities of life on the back of happiness, energy, and hope. TrustCare wants to make this
                    journey easy for every one and help them live healthier and longer lives.</p>

            </div>

        </div>

        <div class="about3">
            <h2 class="tag3">The TrustCare Promise</h2>
            <div class="cards">
                <div class="container1">
                    <div class="content">
                        <img src="https://img.freepik.com/free-vector/patient-taking-medical-examination-clinic_52683-57178.jpg"
                            alt="" style="width: 7rem; height: 7rem; margin-left: 5rem;"><br><br>
                        <p style="font-weight: 500; font-size: 1.1rem">Focus on long-term, ongoing care</p>
                    </div>
                    <div class="container2">
                        <div class="content2">
                            <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRw3pzjVNf3_Cm69gs-vGcl9to7w8K4DBwi40EjwpZkc-NGU-OA"
                                alt="" style="width: 7rem; height: 7rem; margin-left: 1rem;"><br><br>
                            <p style="font-weight: 500; font-size: 1.1rem">Universal Access</p>
                        </div>
                    </div>
                    <div class="container3">
                        <div class="content3">
                            <img src="https://img.freepik.com/free-vector/doctor-character-background_1270-84.jpg?size=338&ext=jpg&ga=GA1.1.1141335507.1718064000&semt=sph"
                                alt="" style="width: 7rem; height: 7rem; margin-left: 1rem;"><br><br>
                            <p style="font-weight: 500; font-size: 1.1rem">Expertised Doctors</p>
                        </div>
                    </div>
                    <div class="container4">
                        <div class="content4">
                            <img src="https://media.istockphoto.com/id/1169286607/vector/online-doctor-concept.jpg?s=612x612&w=0&k=20&c=_E7ZuN6XpUFF9qEVJZATVmR3FivRfjUrTX7agdZy8mI="
                                alt="" style="width: 7rem; height: 7rem; margin-left: 1rem;"><br><br>
                            <p style="font-weight: 500; font-size: 1.1rem">Virtual Consultations</p>
                        </div>
                    </div>
                </div>


            </div>
            <div class="about4">
                <h3 class="tag4">Our Success Stories</h3>

            </div>
                <div class="container5">
                <div class="content5">
                    &#10084;&#10084;&#10084;&#10084;&#10084;

                    <p>It was quick & easy to book the appointment. I was able to get a PC appointment the next
                        morning…within 12 hours! I connected and got my ongoing meds refilled. It was so nice for me
                        living in a rural community.</p>
                    <h6>-Pratyusha</h6>
                </div>
                <div class="content6">
                    &#10084;&#10084;&#10084;&#10084;

                    <p>The doctor was patient to listen to me. It's like I was right in front of him. It was really cool</p>
                    <h6>-Samitha</h6>
                </div>
                <div class="content7">
                    &#10084;&#10084;&#10084;&#10084;

                    <p>Doctor was available right away, listened to my symptoms and prescribed the right medication. He made sure no allergies and that was it. Very fast and easy</p>
                    <h6>-Ayesh</h6>
                </div>
                

            </div>
            <div class="about5">
                <h2 class="tag5">Standards and Trusts </h2>

            </div>
            <div class="content8">
                <h4 class="tag6">Security and Privacy</h4>
                <p class="tag7">Security and privacy are key to all types of data, but for healthcare data it's especially so. Our Information Security and Compliance team is committed to protecting you and your family's data. We use numerous monitoring and security tools with the industry's best practices to safeguard your information and confidentiality.

                    <br><br>We have a comprehensive monitoring and auditing system that prevents fraud, waste, and abuse across the company. This includes medical records, billing and coding, treatments, prescriptions, and more.</p>
                    <h4 class="tag6">Medical Operations</h4>
                    <p class="tag7">This team supports and coaches our doctors to ensure they are delivering care that demonstrates empathy, makes accurate and responsible clinical treatment decisions, and leaves patients feeling properly cared for.

                      <br> <br> This includes technology that makes it easy to order prescriptions and labs, obtain prior authorizations, make referrals, share records, and many other operational tasks that are otherwise cumbersome and time-consuming.</p>
            </div>
        </div>
    </div>


</div>