.tag1,.tag3,.tag4,.tag5{
    font-size: 3rem;
    font-family: lato;
    font-weight: 600;
    text-align: center;
    margin-top: 4rem;
    color: #2cd3e2;

   
}
.tag2{
    text-align: center;
    margin: 2rem;
    font-weight: 400;
    
    font-size: 1.1rem;
    margin-left: 10rem;
    margin-right: 10rem;
    
    
}
.card text-bg-dar,img{
    height: 24rem;
    width: 38rem;
    border-radius: 0%;
   
    
}
.card-title{
    color: white;
    text-align:right;
    margin-right: 1.7rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 2rem;
    margin-top: 7rem;
}
.card-text{
    color: black;
     margin-left: 40rem;
     text-align: center;
     margin-top: 3rem;
     font-size: 1.1rem;
}
.content{
    background-color: #eefaf4;
    width: 20rem;
    border-radius: 0.8rem;
   padding: 1rem;
   
  }
  .container1{
    padding: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 3rem;
  }
  .content2,.content4{
    background-color: lavender;
    width: 20rem;
    border-radius: 0.8rem;
    padding: 1rem;
   text-align: center;
  }
  .content3{
    background-color: rgba(255, 192, 203, 0.377);
    width: 20rem;
    border-radius: 0.8rem;
    padding: 1rem;
   text-align: center;
  }
  .content4{
    background-color: rgba(251, 255, 0, 0.18);
  }
  .content5,.content6,.content7{
    background-color:rgba(209, 235, 243, 0.578);
    width: 20rem;
    border-radius: 0.8rem;
    padding: 1rem;
    margin-top: 4rem;
    font-size: 0.9rem;
    
  }
  .content6{
    background-color: rgba(238, 130, 238, 0.084);

    }
    .content7{
    background-color: rgba(245, 222, 179, 0.427);
    }
  
  .container5{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .tag6{
    color: rgb(87, 84, 84);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 2rem;
    margin-top: 3rem;
    font-size: 1.6rem;
    font-weight: 600;
    background-color: rgba(0, 255, 255, 0.224);
    width: fit-content;
    padding: 0.6rem;
  }
  .tag7{
    margin-left: 2rem;
    font-size: 1.1rem;
    padding-top: 1.5rem;
  }