<div class="container" >
    <div class="image-container">
        <img src="https://img.freepik.com/premium-photo/doctor-online-medical-communication-with-patient-tablet-healthcare-network-consultation_34200-498.jpg"
            style="width:100%; height:39rem; padding-top: 1rem;filter: blur(2px);" alt="">
        <div class="form-container">
            <h1>Login</h1>
            
            <i class="fas fa-user"></i><br>
            <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm.value)" novalidate>
                <h4>Username</h4>
                <input type="email" name="email" placeholder="Email" ngModel #email="ngModel" required maxlength="30" />
                <div *ngIf="email.errors?.['required'] && email.touched" style="font-size: 0.9rem;" >Please Enter EmailId</div>
                <h4>Password</h4>
                <input type="password" name="password" placeholder="Password" ngModel #Password="ngModel" required minlength="10" maxlength="15"  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[&#64;$!%*?&])[A-Za-z\d&#64;$!%*?&]{10,15}$"/>
                <div *ngIf="Password.errors?.['required'] && Password.touched" style="font-size: 0.9rem;">Please Enter Password</div>
               <div *ngIf="Password.errors?.['minlength']&&Password.touched" style="font-size: 0.9rem;">Password must be Atleast 10 characters</div>
                <div  *ngIf="Password.errors?.['pattern']&&Password.value?.length>=10 &&Password.touched" style="font-size: 0.7rem;color: red;">Password must contain at least one uppercase,lowercase letter, one digit, and one special character</div>
                <a routerLink="/forgot">Forgot Password?</a><br><br>
                <app-captcha (captchaValidated)="onCaptchaValidated($event)"></app-captcha>
        
        <button type="submit" [disabled]="!loginForm.valid || !captchaVerified" class="btn btn-dark">Login</button>
                <p>New User? <a routerLink="/register">Create Account?</a></p>
            </form>
        </div>
    </div>
</div>
