
.image-container {
    position: relative;
   height: fit-content;
   padding-top: 4rem;
   padding-bottom: 4rem;
}

/* Centering the form over the image */
.form-container {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1; 
    background-color: white;
    width: 30rem;
    padding: 2.5rem;
    border-radius: 8px;
    box-shadow: 3px 3px 3px   rgba(0, 255, 255, 0.66);
}

/* Heading styles */
.form-container h1 {
    color:rgba(61, 223, 223, 0.998);
    font-size: 2rem; 
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px white; 
    font-weight: bolder;
    
}

/* User icon style */
.form-container i {
    font-size: 2rem;
    color: rgba(177, 195, 195, 0.998);
    margin-bottom: 1rem;
}

/* Styles for the labels */
.form-container h4 {
    color: rgba(61, 223, 223, 0.998);
    text-align: left;
    margin: 1rem 0 0.5rem 0;
    font-size: 1.1rem;
    font-weight: bolder;
}

/* Input field styles */
.form-container input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

/* Forgot password link */
.form-container a {
    color: grey;
    text-decoration: none;
    font-size: 1rem;
}

.form-container a:hover {
    text-decoration: underline;
    color:rgba(61, 223, 223, 0.998) ;
   
}

/* Button styles */
.form-container button {
    width: 100%;
    padding: 0.5rem;
    background:rgba(61, 223, 223, 0.998) ;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
    margin-top: 1rem;
    font-weight: bold;
}

.form-container button:hover {
    text-decoration: underline;
   
}

/* New user paragraph */
.form-container p {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #333;
}
.form-container input:hover{
    background-color: azure;
    
}
.form-container button:disabled{
background-color: grey;
}
