<div>
    <h6 class="tag2">Set up an appointment from the comfort of your living room</h6>
    <div class="container">
        <div class="image-container">
            <img src="https://mobisoftinfotech.com/resources/wp-content/uploads/2018/07/Banner-1.png" alt="">
        </div>
        
        <div class="form-container">
            <div class="container2">
                <form class="form" (ngSubmit)="generateOTP()" #bookingForm="ngForm">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" [(ngModel)]="appointmentData.name" required>
                    <div *ngIf="bookingForm.controls['name'].invalid && (bookingForm.controls['name'].dirty || bookingForm.controls['name'].touched)"
                         class="error-message" style="color: red;font-size: 0.9rem;">
                        Name is required.
                    </div>
        
                    <div class="radio-group">
                        <label for="male">Male</label>
                        <input type="radio" id="male" name="gender" value="Male" [(ngModel)]="appointmentData.gender" required>
                        
                        <label for="female">Female</label>
                        <input type="radio" id="female" name="gender" value="Female" [(ngModel)]="appointmentData.gender" required>
                    </div>
                    <div *ngIf="bookingForm.controls['gender'].invalid && (bookingForm.controls['gender'].dirty || bookingForm.controls['gender'].touched)"
                         class="error-message" >
                        Gender is required.
                    </div>
        
                    <div class="grid-container">
                        <div>
                            <label for="mobile">Mobile Number</label>
                            <input type="tel" id="mobile" name="mobile" [(ngModel)]="appointmentData.mobile" required pattern="[0-9]{10}">
                            <div *ngIf="bookingForm.controls['mobile'].invalid && (bookingForm.controls['mobile'].dirty || bookingForm.controls['mobile'].touched)"
                                 class="error-message" style="color: red;font-size: 0.9rem;">
                                Mobile number is required and must be 10 digits.
                            </div>
                        </div>
                        <div>
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email" [(ngModel)]="appointmentData.email" required>
                            <div *ngIf="bookingForm.controls['email'].invalid && (bookingForm.controls['email'].dirty || bookingForm.controls['email'].touched)"
                                 class="error-message" style="color: red;font-size: 0.9rem;">
                                Email is required.
                            </div>
                        </div>
                    </div>
        
                    <label for="department">Department</label>
                    <select id="dpt" name="department" [(ngModel)]="appointmentData.department" required>
                        <option value="">Choose Department</option>
                        <option value="General Physician">General Physician</option>
                        <option value="Neurology">Neurology</option>
                        <option value="Dermatology">Dermatology</option>
                        <option value="Oncology">Oncology</option>
                        <option value="Urology">Urology</option>
                        <option value="Pulmonology">Pulmonology</option>
                        <option value="Nephrology">Nephrology</option>
                        <option value="Ophthalmology">Ophthalmology</option>
                        <option value="Gastroenterology">Gastroenterology</option>
                        <option value="Cardiology">Cardiology</option>
                        <option value="Gynecology">Gynecology</option>
                        <option value="Psychology">Psychology</option>
                        <option value="Orthopedics">Orthopedics</option>
                        <option value="Nutrition">Nutrition</option>
                        <option value="Pediatrics">Pediatrics</option>
                        <option value="Dental">Dental</option>
                    </select>
                    <div *ngIf="bookingForm.controls['department'].invalid && (bookingForm.controls['department'].dirty || bookingForm.controls['department'].touched)"
                         class="error-message" style="color: red;font-size: 0.9rem;">
                        Department is required.
                    </div>
        
                    <div class="grid-container">
                        <div>
                            <label for="date">Preferred Appointment Date</label>
                            <input type="date" id="date" name="date" [(ngModel)]="appointmentData.date" required
                                   [min]="minDate" [max]="maxDate">
                            <div *ngIf="bookingForm.controls['date'].invalid && (bookingForm.controls['date'].dirty || bookingForm.controls['date'].touched)"
                                 class="error-message" style="color: red;font-size: 0.9rem;">
                                Date is required.
                            </div>
                        </div>
                        <div>
                            <label for="time">Preferred Time Slot</label>
                            <select id="time" name="time" [(ngModel)]="appointmentData.time" required>
                                <option value="">Choose Time Slot</option>
                                <option value="9AM-10AM">9AM-10AM</option>
                                <option value="10AM-11AM">10AM-11AM</option>
                                <option value="11AM-12PM">11AM-12PM</option>
                                <option value="12PM-1PM">12PM-1PM</option>
                                <option value="1PM-2PM">1PM-2PM</option>
                                <option value="2PM-3PM">2PM-3PM</option>
                                <option value="3PM-4PM">3PM-4PM</option>
                                <option value="4PM-5PM">4PM-5PM</option>
                                <option value="5PM-6PM">5PM-6PM</option>
                                <option value="6PM-7PM">6PM-7PM</option>
                            </select>
                            <div *ngIf="bookingForm.controls['time'].invalid && (bookingForm.controls['time'].dirty || bookingForm.controls['time'].touched)"
                                 class="error-message" style="color: red;font-size: 0.9rem;">
                                Time Slot is required.
                            </div>
                        </div>
                    </div>
        
                    <div class="terms-group">
                        <label><input type="checkbox" [(ngModel)]="agreedToTerms" name="terms">I agree to the Terms and Conditions & Privacy Policy of TrustCare</label>
                        <div *ngIf="bookingForm.controls['terms'].invalid && (bookingForm.controls['terms'].dirty || bookingForm.controls['terms'].touched)"
                             class="error-message" style="color: red;font-size: 0.9rem">
                            Please agree to the Terms and Conditions.
                        </div>
                    </div>
        
                    <button type="submit" [disabled]="bookingForm.invalid">BOOK NOW</button>
                </form>
            </div>
        </div>
    </div>
</div>
