.tag2 {
    font-size: 2rem;
    font-family: cursive;
    font-weight: 600;
    text-align: center;
    margin-top: 2rem;
    color: #2cd3e2;
}


.image-container img {
    width: 90%;
    height: auto; /* Maintain aspect ratio */
    padding: 2rem;
  margin-left: 3rem;
}

.container2 {
    width: 50%;
    margin: 2rem auto;
    margin-top: 0;
    background-color: rgba(240, 255, 255, 0.717);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form {
    display: flex;
    flex-direction: column;
}



.form input,
.form select {
    padding: 0.75rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
    margin-top: 1rem;
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.radio-group {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    gap: 1rem; 
}

.terms-group {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}


.terms-group label {
    margin-left: 0.5rem;
}

form button {
    background-color: #2cd3e2;
    color: white;
    border: none;
    padding: 12px 20px;
    margin-top: 1rem;
    font-size: 1.1rem;
    
   
    
    align-self:center;
}

.form button:hover {
    text-decoration: underline;
    text-decoration-color: white;
}
.form-container button:disabled{
    background-color: grey;
    }
    