<div class="forgot-container">
    <h2 class="forgot-title">Forgot Password</h2>
     <p style="font-size: 0.7rem;margin-top: 1rem;">Please specify your email address to receive instructions for resetting your password.

     </p>
     
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fas fa-envelope" style="color:grey;"></i>
                </span>
            </div>
            <input class="form-control" type="email" name="emailId" required placeholder="Enter your email" />
        </div>
    </div>
    <button style="background-color: rgba(0, 255, 255, 0.66);color: white;border: 0;margin-top: 2rem;font-size: 1.3rem;margin-left: 9rem;font-weight: bold;">SUMBIT</button>
</div>


