.forgot-title{
    text-align: center;
    color:rgba(61, 223, 223, 0.998);
    font-size: 2rem; 
    margin-top: 1rem;
    text-shadow: 2px 2px 4px white; 
    font-weight: bolder;
}
.forgot-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color:rgba(240, 255, 255, 0.895);
}

.input-group .input-group-text {
    background-color: transparent;
    border: none;
}
.form-control::placeholder {
    color: #ccc;
    opacity: 1;
}