<div class="dental">
    <div class="image-container">
<img src="https://media.istockphoto.com/id/1369619516/photo/shot-of-a-doctor-examining-a-patient-with-a-stethoscope-during-a-consultation-in-a-clinic.jpg?s=612x612&w=0&k=20&c=c5bA_7X1KOrhsqWeMKufWrGhknLJwRznCv9mTn-PB7Y="alt="" style="width: 60%;height: 400px;margin-top: 1rem;">
</div>
<h1>Top Cardiology Doctors Available</h1>
<div class="container">
    <div class="card" *ngFor="let doctor of DoctorsList">
        <img class="card-img-top" [src]="doctor.img" alt="Card image cap">
        <div class="card-body">
            <h2>{{doctor.name}}</h2>
            <h3>{{doctor.qualification}}</h3>
            <h3>{{doctor.exp}}</h3>
            <a href="#" class="book-now">BOOK NOW</a>
        </div>
    </div>
</div>
</div>


