.heart{
    margin-top: 2rem;
    font-family: 'Poppins', sans-serif;
    color: rgb(82, 79, 79);
    padding: 3rem;
   
}
.content1{
    font-size: 1rem;
   line-height: 1.5rem;
}
.questions{
  font-weight:bold;
    color: black;
    
}
.types{
    color: #ff50a8;;
    font-weight: bolder;
}