<div class="heartblog">
    <img src="https://i.webareacontrol.com/articleimage/1000-X-1000/s/0/stroke-vs-heart-attack-1677819964010-aim.jpg" alt="" width="97%" style="padding-top: 4rem;">
    <div class="heart">
        <h6 class="content1">It is a known fact that cardiovascular diseases such as heart attack, coronary heart disease, etc., can cause serious health risks. When it comes to heart failure and heart attack, both medical conditions are related but are not the same. Oftentimes, people get confused with these two terms and use them incorrectly. While the causes and effects of both conditions are the same, they are distinct health issues. Let us understand how heart failure and heart attack differ from one another.</h6><br>
    <h4 class="questions">What is the Difference Between Heart Failure and heart attack?</h4><br>
 <h6 class="content1">Heart failure, also known as congestive heart failure, is a chronic medical condition. This means that this issue develops slowly over a long period. Heart failure is said to occur when the heart muscle fails to pump enough blood to meet the demands of the body. Narrowed coronary arteries with high blood pressure make the heart weak, blocked or stiff due to which there is improper pumping of blood.

    A heart attack occurs due to the blockage of arteries by fatty deposits known as plaques. Formation of blood clot due to the rupture of plaques further blocks the arteries. This may often lead to a heart attack. It is also known as myocardial infarction that occurs suddenly. In some cases, parts of the heart muscles die due to lack of blood supply. This health condition can be fatal if immediate medical attention is not available for the patient.</h6>
   <h4 class="questions">What are the causes of Heart Failure and Heart Attack?</h4><br>
   <h6 class="content1">Heart failure occurs when the heart muscle is weak or stiff. Listed below are the causes of heart failure:</h6>
   <ul>
    <li><h6 class="content1">Coronary artery disease: Coronary artery disease (CAD) is the most common form of heart disease in which cholesterol and fatty deposits get accumulated in the heart arteries affecting the blood flow to the heart muscles. This causes chest pain, also termed as angina, and over time causes heart failure.</h6></li>
    <li><h6 class="content1">History of heart attack (myocardial infarction): An individual with a history of a heart attack may have an increased risk of her/his heart muscle getting damaged again. This further affects the ability to pump enough required in the body.</h6></li>
    <li><h6 class="content1">High Blood pressure: If a patient has unregulated high blood pressure, her/his heart has to pump blood harder than normal to ensure blood circulation. This weakens the heart over time and may lead to heart failure.</h6></li>
    <li><h6 class="content1">Abnormal heart valves: Heart valve abnormalities can be congenital caused by infection or any other heart disease. The heart muscle has to pump harder to ensure blood circulation because the valves do not open or close completely, thus, resulting in heart failure.</h6></li>
    <li><h6 class="content1">Heart muscle disease: Diseases such as dilated cardiomyopathy, hypertrophic cardiomyopathy or myocarditis (inflammation) caused by certain infections, excessive alcohol consumption or drug abuse can damage the heart muscle and increases the risk of heart failure.</h6></li>
   </ul>
   <h6 class="content1">On the other hand, a heart attack occurs due to the blockage of blood flow to the heart muscle. Following are the reasons</h6>
   <ul>
    <li><h6 class="content1">Atherosclerosis: Narrowing of coronary arteries due to build-up of the fatty substance (plaque). The rupture of plaques can further cause a blood clot causing coronary artery blockage.</h6></li>
    <li><h6 class="content1">Coronary artery dissection: Separation of the inside wall of the coronary artery, which further causes blockage of blood flow.</h6></li>
    <li><h6 class="content1">Coronary artery spasm: This is the sudden narrowing or stiffness of the coronary artery due to smoking, cold weather, or extreme stress.</h6></li>
    <li><h6 class="content1">Obesity</h6></li>
    <li><h6 class="content1">Smoking or an unhealthy lifestyle</h6></li>
    
   </ul><br>
   <h4 class="questions">What are the symptoms of Heart Failure and Heart Attack?</h4><br>
   <h6 class="content1">Some of the common symptoms of heart failure are:</h6>
   <ul>
    <li><h6 class="content1">Shortness of breath</h6></li>
    <li><h6 class="content1">Fatigue</h6></li>
    <li><h6 class="content1">Dizziness</h6></li>
    <li><h6 class="content1">Coughing</h6></li>
    <li><h6 class="content1">Edema</h6></li>

   </ul>
   <h6 class="content1">Symptoms of heart attack vary from person to person and differ for men and women. These include:</h6>
   <ul>
    <li><h6 class="content1">Chest pain (angina)</h6></li>
    <li><h6 class="content1">Pain in the jaw, upper body, like arms, back, etc.</h6></li>
    <li><h6 class="content1">In some cases, pain radiates to the legs</h6></li>
    <li><h6 class="content1">Anxiety</h6></li>
    <li><h6 class="content1">Breathing difficulty</h6></li>
    <li><h6 class="content1">Fatigue, nausea, vomiting</h6></li>
   </ul>
</div>
</div>
