<div class="videopart">
  <div class="videocaption">
    <div class="captions">
      <h2 class="videocaption1">
        <span *ngFor="let char of displayedChars; let i = index" [ngStyle]="{'animation-delay': (i * 0.1) + 's'}">{{
          char }}</span>
      </h2>
      <p>At TrustCare, we believe in personalized healthcare. Our commitment extends beyond medicine and
        technology, prioritizing your holistic well-being.</p>
      <button class="button1" routerLink="/departments">FIND A DOCTOR</button>
    </div>
    <video class="full-width-video" autoplay loop muted>
      <source
       src="https://media.istockphoto.com/id/1408396549/video/portrait-of-joyous-female-doctor-at-work.mp4?s=mp4-640x640-is&k=20&c=UCGo7Zk_RfAyxjkSG0VtjG47DbA_FXzwIvgezeUY0M8="
        type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
</div>
<app-symptoms></app-symptoms>
<div class="diet">
  <img
    src="https://blog-images-1.pharmeasy.in/blog/production/wp-content/uploads/2020/11/30172654/shutterstock_622381799-1.jpg"
    alt="">
  <div class="diet-container">
    <h2 style="text-align: center;font-size: 1.7rem;font-family: Roboto, sans-serif;">Achieve Your Ideal Weight!</h2>
    <h3
      style="text-align: center;font-size: 1.3rem;background-color: rgba(0, 255, 255, 0.139);padding: 0.5rem;font-family: 'Times New Roman', Times, serif;width: fit-content;margin-top:3rem;">
      Special 7-Day Diet Plan for Just ₹499</h3>
    <p>Struggling to reach your weight goals? Let our experienced dietitians guide you with a personalized diet plan
      designed to help you achieve and maintain your ideal weight.</p>
    <ul>
      <li>Get a customized 7-day diet plan tailored to your demographics, health and goals.</li>
      <li> Our certified dietitians will work with you to create a meal plan that fits your lifestyle.</li>
    </ul>
    <h2 style="font-size: 1.5rem;text-shadow: azure;color: rgba(57, 70, 70, 0.998);">Join Now and Transform Your Body!
    </h2>
  </div>


</div>

<div class="bestdoctor">
  <h3 style="text-align: center;margin-bottom: 3rem;">How to get the best out of your doctor video consultation
    session</h3>
  <ul style="margin-right: 9rem;margin-left: 2rem;font-size: 1.1rem;">
    <li>Make a list of questions and concerns you want to highlight. Tell your doctor your symptoms clearly and
      honestly, every little detail helps.</li>
    <li>Keep your medical history, such as previous test reports or prescriptions handy.</li>
    <li>Make sure there is no noise disturbance before connecting.</li>
    <li>Have a plan in place for emergencies. Know the nearest hospital or urgent care center in case your condition
      requires immediate attention after the consultation.</li>
  </ul>
</div>

<div class="faq-container">
  <h2 style="font-family: var(--new_font_family) !important; color: rgba(0, 0, 0, 0.687);">Frequently Asked Questions
  </h2>
  <div *ngFor="let faq of faqs" class="faq-item">
    <div class="faq-question" (click)="toggleAnswer(faq)">
      <i class="fas fa-question-circle" style="color: rgba(0, 0, 0, 0.687);"></i>
      {{ faq.question }}

    </div>
    <div class="faq-answer" [class.hidden]="!faq.showAnswer" [innerHTML]="faq.answer">
      {{ faq.answer }}
    </div>
  </div>
</div>
<div class="subscribe">
  <h2>Subscribe for a healthier, happier you</h2>
  <div class="small-line"></div>
  <div class="input-container">
    <i class="fas fa-envelope" style="color:grey;"></i>
    <form #contactForm="ngForm" (ngSubmit)="submitForm(contactForm)">
    <input type="email" name="email" ngModel required email placeholder="Enter your email" style="width: 20rem;">

    <button type="submit" [disabled]="!contactForm.valid">Submit</button>
</form>
  </div>
  <div *ngIf="contactForm.controls['email'].touched && contactForm.controls['email'].errors?.['required']">
    <p style="color: red ;">Email is required</p>
  </div>
  <div *ngIf="contactForm.controls['email'].touched && contactForm.controls['email'].errors?.['email']">
    <p style="color: red;margin-top: 0;">Please enter a valid email address</p>
  </div>



</div>