.videocaption {
    
    align-items: center;
    background-image: linear-gradient(to left, #abdbde2a, #1bb1da47); 
    padding: 20px;
    border-radius: 10px;
    display: flex;
}

.button1{
    border-radius: 0.2rem;
    background-color: rgba(48, 206, 206, 0.701);
    color: white;
    padding: 0.4rem;
    font-size: 1.2rem;
    font-weight: 500;
    border: 1px solid rgba(88, 227, 227, 0.733);  
}
.full-width-video {
    width: 61%;
    height:500px;
   float: right;
   margin-left: 4rem;
   
    
}
.faq-container {
    max-width: 800px;
   
    padding: 20px;
  }
  
  .faq-item {
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;

  }
  
  .faq-question {
    cursor: pointer;
    font-weight: bolder;
    color: rgba(48, 206, 206, 0.701);
    display: flex;
    font-size: 1.1rem;
   
  }
  
  .faq-question i {
    margin-right: 10px;
    transition: transform 0.3s;
  }
  
  .faq-answer {
    padding: 10px 0;
    transition: max-height 0.3s ease;
    
  }
  
  .hidden {
    display: none;
  }
  .bestdoctor{
    background-image: linear-gradient(to right, rgba(255, 192, 203, 0.26), azure, whitesmoke);
    padding: 2rem;
   margin-bottom: 4rem;
    
  }
  .diet {
  display: flex;
  align-items: center;
  justify-content: space-between;
 border-radius: 7px;
  background-color: white;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.diet img {
  max-width: 50%;
  height: auto;
  border-radius: 10px;
  margin-right: 20px;
}

.diet-container {
  max-width: 50%;
  background-color:whitesmoke;
  padding: 2rem;
  
}

@media (max-width: 768px) {
  .diet {
    flex-direction: column;
    text-align: center;
  }

  .diet img {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  
}
.subscribe{
  background-image: linear-gradient(to right, whitesmoke, rgba(112, 223, 223, 0.349), whitesmoke);
}
.subscribe h2{
  font-size: 30px;
    margin-bottom: 20px;
    font-family: Lato, sans-serif;
   text-shadow: 1px 1px white;
    text-align: center;
    padding: 4rem;
    padding-bottom: 1rem;
    color: black;
    font-weight: 600;
}
.small-line {
  width: 13rem; /* Adjust the width as needed */
  height:4px; /* Adjust the height as needed */
  background-image: linear-gradient(to right, rgba(248, 118, 140, 0.573), rgba(0, 0, 0, 0.388),rgba(248, 118, 140, 0.573) );
  margin: auto;
  
}
.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.input-container {
  display: flex;
  align-items: center;
  height: 50px;
  width: 45%;
  border-radius: 25px;
  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-top: 2.2rem;
  margin-bottom: 3rem;
}

.input-container i {
  color: grey;
  padding: 0 15px;
}

.input-container input {
  flex: 1;
  height: 100%;
  border: none;
  padding-left: 10px;
  font-size: 16px;
 outline: none;
 
}

.input-container button {
  height:3rem;
  border: none;
  background-color:rgba(48, 206, 206, 0.87) ;
  color: white;
  padding: 0 20px;
  cursor: pointer;
  font-size: 16px;
margin-left: 7rem;
border-radius: 25px;
position: relative;
}
