<div class="dental">
    <div class="image-container">
<img src="https://www.scoredoc.com/Upload/blog-post/Top-Rated-Oncologists-in-Nashville-TN.jpg"alt="" style="width: 60%;height: 500px;margin-top: 1rem;">
</div>
<h1>Top Oncology Doctors Available</h1>
<div class="container">
    <div class="card" *ngFor="let doctor of DoctorsList">
        <img class="card-img-top" [src]="doctor.img" alt="Card image cap">
        <div class="card-body">
            <h2>{{doctor.name}}</h2>
            <h3>{{doctor.qualification}}</h3>
            <h3>{{doctor.exp}}</h3>
            <a href="#" class="book-now">BOOK NOW</a>
        </div>
    </div>
</div>
</div>


