<div class="captcha-container">
    <div class="captcha-input">
      <div class="captcha">
        <span>{{ captchaText }}</span>
        <i class="fas fa-sync-alt refresh-icon" (click)="refreshCaptcha()"></i>
      </div>
      <div class="input-container">
        <input [(ngModel)]="userInput" (input)="validateCaptcha()" type="text" placeholder="Enter CAPTCHA">
      </div>
    </div>
    <div *ngIf="validationMessage" class="message">{{ validationMessage }}</div>
  </div>
  