<div>
    <h6 class="tag1">CONNECT WITH US</h6>
    <div class="contact1">
        <div class="card text-bg-info bg-opacity-25">
            <img src="https://img.freepik.com/free-vector/flat-customer-support-illustration_23-2148899114.jpg?size=338&ext=jpg&ga=GA1.1.1141335507.1717977600&semt=ais_user"
                class="card-img" alt="">
            <div class="card-img-overlay">
                <div class="container">
                    <form #contactForm="ngForm" (ngSubmit)="submitForm(contactForm)">
                        <div class="form-group">
                            <label class="name" for="firstname">First Name</label>
                            <input type="text" class="form-control" id="firstname" name="firstname" required
                                [(ngModel)]="contact.firstname" #firstname="ngModel">
                            <small class="text-danger" *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)">
                                <p *ngIf="firstname.errors?.['required']">First Name is required.</p>
                            </small>
                        </div>
                        <div class="form-group">
                            <label class="name" for="email">Email Address</label>
                            <input type="email" class="form-control" id="email" name="email" required
                                [(ngModel)]="contact.email" #email="ngModel">
                            <small class="text-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                                <p *ngIf="email.errors?.['required']">Please Enter Your EmailId</p>
                                <p *ngIf="email.errors?.['email']">Invalid email format.</p>
                            </small>
                        </div>
                        <div class="form-group">
                            <label class="name" for="inputCountry">Country</label>
                            <select id="inputCountry" class="form-control" name="country" required
                                [(ngModel)]="contact.country" #country="ngModel">
                                <option value=""></option>
                                <option value="India">India</option>
                                <option value="America">America</option>
                                <option value="Australia">Australia</option>
                                <option value="Canada">Canada</option>
                                <option value="Europe">Europe</option>
                                <option value="Switzerland">Switzerland</option>
                                <option value="China">China</option>
                            </select>
                           
                        </div>
                        <div class="form-group">
                            <label class="name" for="address">Address</label>
                            <textarea class="form-control" id="inputMessage" rows="1" name="address" required
                                [(ngModel)]="contact.address" #address="ngModel"></textarea>
                           
                        </div>
                        <div class="form-group">
                            <label class="name" for="inputMessage" >Message</label>
                            <textarea class="form-control" id="inputMessage" rows="2" name="message" required placeholder="Your Message Here"
                                [(ngModel)]="contact.message" #message="ngModel"></textarea>
                            <p class="text-danger" *ngIf="message.invalid && (message.dirty || message.touched)">
                                <small *ngIf="message.errors?.['required']">Please Enter Your Message</small>
                            </p><br>
                        </div>
                        <div class="button">
                            <button class="button">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
