.tag1{
    font-size: 2rem;
   padding-top: 3rem;
    font-weight: 600;
    text-align: center;
    
    color: #2cd3e2;
}
.card text-bg-dar,img{
    height: 40rem;
    width: 26rem;
    border-radius: 0%;
    
    
}
.container{
  height:auto;
 padding-bottom: 1rem;
  background-color: white;
 width:28rem;
 align-items: center;
margin-top: 0.4rem;
 margin-right: 3rem;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.155), 
 0 -3px 3px rgba(0, 0, 0, 0.199), 
 3px 0 3px rgba(0, 0, 0, 0.16), 
 -3px 0 3px rgba(0, 0, 0, 0.208);
}
.contact1 {
    width: 80%;
    margin-left: 8rem;
    padding-top: 3rem;
    
   padding-bottom: 6rem;
  border: none;
  
}

.button {
    width: fit-content;
    padding: 0.2rem;
    background:rgba(61, 223, 223, 0.998) ;
    border: none;
   margin: auto;
    color: white;
    font-size: 1.3rem;
 
   
    font-weight: bold;
}

.button:hover {
    text-decoration: underline;
   
}
.name{
    padding: 0.3rem;
    color: rgba(61, 223, 223, 0.998);
  font-size: 1.1rem; 
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px white; 
  font-weight: bold;
  margin:0;
  text-align: left;
 
}
.form-group input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}
 input:hover{
    background-color: azure;
    
}
