
.nav1 {
    background-color: rgba(80, 208, 208, 0.701);
    display: flex;
    align-items: center;
    padding: 1rem;
   
}
.options  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    background-color: rgba(240, 255, 255, 0.87);
}
.options1 {
    color: black;
    text-decoration: none;
   
    
}

  
  
  

.options1:hover {
  color: white;
  background-color:rgba(80, 208, 208, 0.701);
   
    padding: 0.1rem;
    
}

.title {
    font-family: Campton, sans-serif, 'Helvetica Neue', Helvetica, Arial;
    color: rgba(0, 0, 0, 0.623);
    font-weight: bold;
    margin: 0; 
}

.titles {
    display: flex;
    flex-direction: column; 
    margin-left: 1rem; 
    text-align: left; 
    cursor: pointer;
    
}

.title1 {
   font-family: cursive;
   font-style: oblique;
   font-weight: lighter;
   padding-top: 0.3rem;
   font-size: 0.7rem;
   
}
.full-width-video {
    width: 61%;
    height:500px;
   float: right;
   margin-left: 4rem;
   
    
}
.videocaption {
    
    align-items: center;
    background-image: linear-gradient(to left, #abdbde2a, #1bb1da47); 
    padding: 20px;
    border-radius: 10px;
    display: flex;
}

.button1{
    border-radius: 0.2rem;
    background-color: rgba(48, 206, 206, 0.701);
    color: white;
    padding: 0.4rem;
    font-size: 1.2rem;
    font-weight: 500;
    border: 1px solid rgba(88, 227, 227, 0.733);  
}
.nav2{
    height: 3.3rem;
   
   
}
.options2 a {
    color:  rgba(0, 0, 0, 0.623);
    text-decoration: none;
    font-weight: 600;
    padding: 0.5rem;
    margin-left: 1rem; /* Space between links */
    
}

.options2 a:hover,.options2 i:hover {
    background-color: white;
    color: rgba(48, 206, 206, 0.701);
}
.options2{
    margin-left: 40rem;
}

 
  .dropdown-menu {
    display: block;
    position: absolute;
    background-color: white;
  margin-top: 1rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  
right: 10px;
   
  }
  
  /* Style for the dropdown links */
  .dropdown-menu a {
    color: black;
  text-align: center;
  
    text-decoration: none;
    display: block;
  }
  
  .dropdown-menu a:hover {
    background-color: rgba(80, 208, 208, 0.701);
  }
  