<div class="navpart">
    <div class="nav1">
        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQ_ZzJzCXXDRk_rW7FKqYWQ4vNKZjYOq_Y3w89UBHxtdtlceGIO"
            alt="imagenotfound" style="height: 5rem; cursor: pointer;">
        <div class="titles">
            <h2 class="title">TrustCare</h2>
            <p class="title1">Cares For Your Better Life!</p>
        </div>
        <div class="right">
            <div class="options2">
                <a routerLink="departments">Departments</a>
                <a routerLink="blog">Blog</a>
                <a href=""><i class="fas fa-calendar-alt" style="color: white; "></i> My Checkups</a>
            </div>
        </div>
    </div>
    <div class="nav2">
        <div class="options">
            <a href="" class="options1">Home</a>
            <a routerLink="/about" class="options1">About</a>
            <a routerLink="/contact" class="options1">Support</a>
            <a routerLink="/login" class="options1">Login</a>
            <a routerLink="/booking" class="options1"
                style="background-color:rgba(80, 208, 208, 0.701); padding:0.3rem;">Book An
                Appointment</a>
           
            <div class="dropdown-container">
                <i class="fas fa-bars"
                    style="background-color:rgba(80, 208, 208, 0.701); padding: 0.3rem; color: white; cursor: pointer;"
                    (click)="toggleDropdown()"></i>

                <!-- Dropdown menu -->
                <div *ngIf="isDropdownOpen" class="dropdown-menu">
                    <a routerLink="/logout">Logout</a>
                </div>
            </div>


        </div>
    </div>

</div>