<div class="tuberculosis" style="padding-top: 4rem;">
    <img src="https://www.carehospitals.com/assets/images/main/tuberculosis-diet-what-to-eat-and-avoid.webp" alt="" style="width: 80%; height: 350px;margin-left: 7rem;">
    <div class="tubercontent">
        <h6 class="content1">Tuberculosis (TB) isn't just a sickness of the lungs; it's a battle for your whole being. But in this fight, it's not just medicine that can save the day– it's what's on your plate too. A healthy diet is just like little warriors, boosting strength and helping you stand tall again. So, while the doctors do their part, let your meals be your partners in this journey to recovery.

            Tuberculosis is a complex disease that requires a multifaceted treatment and management approach. While antibiotics and other medications are the primary means of treating the infection, the role of adequate nutrition must be considered. A well-balanced and nutrient-rich meal plan can help strengthen the immune system, support the body's natural healing processes, and alleviate some symptoms of TB.
            
            In this blog, let's explore the essential components of a nutritional tuberculosis diet, provide knowledge about healthy dietary choices, and support your journey towards better health.</h6>
            <h4 class="questions"><br>
                What to Eat in Tuberculosis
            </h4><br>
            <img src="https://www.carehospitals.com/ckfinder/userfiles/images/tuberculosis-diet.png" alt=""><br><br>
            <h6 class="content1">A tuberculosis diet should provide the body with the nutrients necessary to combat the infection and support recovery. Here are some of the vital food groups and items that you should include in a TB-friendly diet:</h6>
            <h5 class="types">Protein foods</h5>
            <ul>
                <li><h6 class="content1">Lean meats (chicken, turkey, fish)</h6></li>
                <li><h6 class="content1">Legumes (lentils, beans, chickpeas)</h6></li>
                <li><h6 class="content1">Eggs</h6></li>
                <li><h6 class="content1">Dairy products (low-fat milk, yoghurt, cheese)</h6></li>
                <li><h6 class="content1">Nuts and seeds</h6></li>
            </ul>
            <h5 class="types">Fruits and Vegetables:</h5>
            <ul>
                <li><h6 class="content1">Leafy greens (spinach, kale, collard greens)</h6></li>
                <li><h6 class="content1">Berries (blueberries, raspberries, strawberries)</h6></li>
                <li><h6 class="content1">Citrus fruits (oranges, grapefruits)</h6></li>
                <li><h6 class="content1">Sweet potatoes</h6></li>
                <li><h6 class="content1">Carrots</h6></li> 
            </ul>
            <h5 class="types">Whole Grains:</h5>
            <ul>
                <li><h6 class="content1">Brown rice</h6></li>
                <li><h6 class="content1">Whole wheat bread and pasta</h6></li>
                <li><h6 class="content1">Oats</h6></li>
                <li><h6 class="content1">Millets</h6></li>
                <li><h6 class="content1">Quinoa</h6></li>
            </ul>
            <h6 class="content1">These most recommended foods for tuberculosis provide essential vitamins, minerals, and antioxidants to support the body's immune function, promote tissue repair, and alleviate some common symptoms associated with tuberculosis, such as weight loss, fatigue, and respiratory distress.</h6><br>
            <h4 class="questions">What Foods to Avoid in Tuberculosis?</h4><br>
            <h6 class="content1">While a well-designed tuberculosis diet should focus on incorporating nutrient-dense foods, certain items should be limited or avoided. These include:</h6>
           <h5 class="types">Processed and High-Fat Foods:</h5>
            <ul>
                <li><h6 class="content1">Fried foods</h6></li>
                <li><h6 class="content1">Baked goods (cookies, cakes, pastries)</h6></li>
                <li><h6 class="content1">Sugary drinks and snacks</h6></li>
                <li><h6 class="content1">Processed meats (bacon, sausages, deli meats)</h6></li>       
                 </ul>
                 <h5 class="types">Alcohol</h5>
                  <h6 class="content1">Alcohol can be one of the members of your list of "food not to eat in TB". Alcoholic beverages can interfere with the absorption and utilisation of essential nutrients, as well as weaken the immune system.</h6>
                  <h5 class="types">Caffeine:</h5>
                  <h6 class="content1">High amounts of caffeine can contribute to dehydration and disrupt sleep patterns, essential for the body's healing process.</h6><br>
                 <h4 class="questions">When to Consult a Doctor?</h4><br>
                <h6 class="content1">While a nutritional tuberculosis diet can significantly support the body's recovery, working closely with a doctor throughout treatment is essential. One can consult a doctor or a registered dietitian in the following situations:</h6>
                <ul>
                    <li><h6 class="content1">Diagnosis and Treatment Initiation: When a patient is first diagnosed with tuberculosis, a doctor develops a comprehensive treatment plan that includes medical and nutritional components.</h6></li>
                    <li><h6 class="content1">Dietary Modifications: If you have some restrictions related to a particular type of diet due to allergies or other health conditions that may impact your nutritional needs, a doctor can guide you on how to modify your diet to ensure optimal nutrient intake.</h6></li>
                    <li><h6 class="content1">Monitoring and Adjustments: Your body's nutritional needs may change throughout the course of tuberculosis treatment. Regular follow-up visits in a clinic help ensure your diet is adjusted to support your recovery.</h6></li>
                    <li><h6 class="content1">Supplementation: Sometimes, your doctor may recommend nutritional supplements to manage deficiencies or support the body's healing process.</h6></li>
                </ul>

        </div>
        </div>
