<div class="container">
    <div class="form-container1">
        <h1>Become A Member</h1>
        <div class="form-grid">
            <form #registerForm="ngForm" (ngSubmit)="userpatient(registerForm)">
                <div class="form-group form-group-2col">
                    <!-- First Name -->                   
                    <div>
                        <label for="firstname">First Name</label>
                        <input type="text" id="firstname" name="firstname" [(ngModel)]="userData.firstname" required>
                        <div *ngIf="registerForm.controls['firstname']?.errors?.['required'] && registerForm.controls['firstname'].touched">
                            <p>First Name is required</p>
                        </div>
                    </div>
                    <!-- Last Name -->
                    <div>
                        <label for="lastname">Last Name</label>
                        <input type="text" id="lastname" name="lastname" [(ngModel)]="userData.lastname">
                    </div>
                </div>

                <!-- Email -->
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" class="fo" name="email" [(ngModel)]="userData.email" required email>
                    <div *ngIf="registerForm.controls['email']?.errors?.['required'] && registerForm.controls['email'].touched">
                        <p>Email is required</p>
                    </div>
                    <div *ngIf="registerForm.controls['email']?.errors?.['email'] && registerForm.controls['email'].touched">
                        <p>Please enter a valid Email Address format</p>
                    </div>
                </div>

                <!-- Password -->
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="fo" name="password" [(ngModel)]="userData.Password" required minlength="10" maxlength="15"
                        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[&#64;$!%*?&])[A-Za-z\d&#64;$!%*?&]{10,15}$">
                    <div *ngIf="registerForm.controls['password']?.errors?.['required'] && registerForm.controls['password'].touched">
                        <p>Password is required</p>
                    </div>
                    <div *ngIf="registerForm.controls['password']?.errors?.['minlength'] && registerForm.controls['password'].touched">
                        <p>Password must be at least 10 characters long</p>
                    </div>
                    <div *ngIf="registerForm.controls['password']?.errors?.['maxlength'] && registerForm.controls['password'].touched">
                        <p>Password cannot exceed 15 characters</p>
                    </div>
                    <div *ngIf="registerForm.controls['password']?.errors?.['pattern'] && registerForm.controls['password'].touched">
                        <p>Password must contain at least one uppercase and lowercase letter, one digit, and one special character</p>
                    </div>
                </div>

                <!-- Mobile Number -->
                <div class="form-group">
                    <label for="mobile">Mobile Number</label>
                    <input type="tel"class="fo" name="mobile" [(ngModel)]="userData.mobile" required minlength="10" maxlength="10">
                    <div *ngIf="registerForm.controls['mobile']?.errors?.['required'] && registerForm.controls['mobile'].touched">
                        <p>Mobile Number is required</p>
                    </div>
                    <div *ngIf="registerForm.controls['mobile']?.errors?.['minlength'] && registerForm.controls['mobile'].touched">
                        <p>Mobile Number must be exactly 10 digits long</p>
                    </div>
                    <div *ngIf="registerForm.controls['mobile']?.errors?.['maxlength'] && registerForm.controls['mobile'].touched">
                        <p>Mobile Number must be exactly 10 digits long</p>
                    </div>
                </div>

                <div class="form-group form-group-2col">
                    <!-- Country -->
                    <div>
                        <label for="country">Select Country</label>
                        <select id="country" name="country"[(ngModel)]="userData.country" style="width: 100%;" required>
                            <option value="India">India</option>
                            <option value="America">America</option>
                            <option value="Australia">Australia</option>
                            <option value="Canada">Canada</option>
                            <option value="Europe">Europe</option>
                            <option value="Switzerland">Switzerland</option>
                            <option value="China">China</option>
                        </select>
                        <div *ngIf="registerForm.controls['country']?.errors?.['required'] && registerForm.controls['country'].touched">
                            <p>Please select a country</p>
                        </div>
                    </div>
                    <!-- City -->
                    <div>
                        <label for="city">City</label>
                        <input type="text"  name="city" [(ngModel)]="userData.city" required>
                        <div *ngIf="registerForm.controls['city']?.errors?.['required'] && registerForm.controls['city'].touched">
                            <p>City is required</p>
                        </div>
                    </div>
                </div>

                <!-- Pincode -->
                <div class="form-group">
                    <label for="pincode">Pincode</label>
                    <input type="text" class="fo" name="pincode" [(ngModel)]="userData.pincode" required pattern="[0-9]{6}">
                    <div *ngIf="registerForm.controls['pincode']?.errors?.['required'] && registerForm.controls['pincode'].touched">
                        <p>Pincode is required</p>
                    </div>
                    <div *ngIf="registerForm.controls['pincode']?.errors?.['pattern'] && registerForm.controls['pincode'].touched">
                        <p>Pincode must be exactly 6 digits</p>
                    </div>
                </div>

                <!-- Submit Button -->
                <button type="submit">REGISTER</button>
            </form>
        </div>
    </div>
</div>
