.container {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
    background-image: url('https://as2.ftcdn.net/v2/jpg/05/39/97/17/1000_F_539971714_2ElHuctsqghGCkj1c68knsJjvy3ecc21.jpg');
    background-size: cover;
    background-position: center;
     margin-top: 2rem;
     margin-bottom: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Hide overflow */
}

.form-container1 {
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 8px 8px white;
    width: 30rem;
    height: 80vh; /* Adjust the height as needed */
    overflow-y: auto; 
    margin-right: 30rem;
}

/* Hide scrollbar for WebKit browsers */
.form-container1::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.form-container1 {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.form-container1 h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: rgba(0, 255, 255, 0.66);
    font-weight: bolder;
   
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem; /* Gap between columns and rows */
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color:black;
}

.form-group input,
.form-group select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 1px;
    font-size: 1rem; 
}
.form-group input:hover{
    background-color: azure;
}
.form-group-2col {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 1rem; 
}

button {
    grid-column: span 2; /* Make the button span both columns */
    padding: 0.75rem;
    border: none;
    background-color: rgba(0, 255, 255, 0.66);
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 1rem;
    font-weight: bold;
   margin-left: 9rem;
}
button:hover{
    text-decoration: underline;
}
.fo{
    width: 60%;
}