
<div class="dental">
    <div class="image-container">
<img src="https://www.health.com/thmb/hxRvGQtG6R-L1alZB9vuhU7gcig=/8192x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-1358954851-f46448008e1642758855d9df7eee3d6f.jpg"alt="" style="width: 70%;height: 500px;margin-top: 1rem;">
</div>
<h1>Top Gastroenterology Doctors Available</h1>
<div class="container">
    <div class="card" *ngFor="let doctor of DoctorsList">
        <img class="card-img-top" [src]="doctor.img" alt="Card image cap">
        <div class="card-body">
            <h2>{{doctor.name}}</h2>
            <h3>{{doctor.qualification}}</h3>
            <h3>{{doctor.exp}}</h3>
            <a href="#" class="book-now">BOOK NOW</a>
        </div>
    </div>
</div>
</div>
