<div class="cancer">
    <img src="https://img.onmanorama.com/content/dam/mm/en/lifestyle/health/images/2023/4/9/men-breast-cancer-c.jpg.transform/576x300/image.jpg" alt="" style="width: 80%; height: 350px;margin-left: 7rem;">
    <div class="cancercontent">
        <h6 class="content1">Breast cancer is a type of cancer in which cells in the breast grow out of control. Although men and women are both prone to breast cancer, it is more prevalent among women than men. Most cases of breast cancer start in the lobules or ducts. Blood and lymph vessels are two ways that breast cancer can travel outside of the breast. Breast cancer is said to have metastasised when it spreads to other parts of the body.</h6><br>
        <h4 class="questions">What are the Types of Breast Cancer?</h4><br>
        <h6 class="content1">There are several types of breast cancer. Among those three types of cancer are most common:</h6>
        <h5 class="types">Invasive Ductal Carcinoma:</h5>
        <h6 class="content1">It is the most common type of breast cancer, accounting for around 80% of breast cancer diagnoses. It first forms in the milk ducts of the breast and then invades the surrounding tissues. A lump or mass is seen in the breast, which changes in size and shape. Persistent breast pain, inversion or discharge in the nipple, and redness or thickening of the breast skin are the symptoms.</h6>
        <h5 class="types">Invasive Lobular Carcinoma:</h5>
        <h6 class="content1">It is less common than invasive ductal carcinoma. It starts in the glands that produce milk, known as lobules, and then spreads to the breast tissue. It accounts for about 10-15% of breast cancers. It is more frequently seen in older women. Symptoms include redness or swelling of the breast skin, breast pain, lump in the breast, nipple changes, etc.</h6>
        <h5 class="types">Ductal Carcinoma in Situ:</h5>
        <h6 class="content1">It is a non-invasive type of breast cancer. Cancer cells form in the lining of breast ducts and do not spread to the breast tissue. It is classified as non-invasive because it stays confined within the ducts and does not spread to surrounding tissues. The prognosis for this type of breast cancer is excellent.</h6><br>
       <h4 class="questions">What are the Signs and Symptoms of Breast Cancer in Females?</h4><br>
       <h6 class="content1">Different people experience breast cancer in different ways. Some people exhibit neither symptoms nor indicators at all. Some of the early symptoms of breast cancer include:</h6>
       <ul>
        <li><h6 class="content1">Partial breast enlargement or thickening.</h6></li>
        <li><h6 class="content1">Lump in the breast.</h6></li>
        <li><h6 class="content1">Skin dimpling or irritation on the breasts.</h6></li>
        <li><h6 class="content1">Skin that is red or flaky around the breasts or nipples.</h6></li>
        <li><h6 class="content1">Pulling inward or discomfort in the nipple region.</h6></li>
        <li><h6 class="content1">Breast pain.</h6></li>
        <li><h6 class="content1">Nipple changes.</h6></li>
        </ul>
        <h4 class="questions">What are the Indications and Symptoms of Breast Cancer in Males?</h4><br>
        <ul>
            <li><h6 class="content1">A thickening of the skin or a painless bump on the chest.</h6></li>
            <li><h6 class="content1">Alterations to the skin covering the breast, including skin colour changes, dimpling, puckering, and scaling.</h6></li>
            <li><h6 class="content1">The nipple may undergo modifications, such as colour or scale alterations or a nipple that begins to turn inward.</h6></li>
            <li><h6 class="content1">Hemorrhage or discharge from the nipple.</h6></li>
        </ul>
        <h4 class="questions">What are the Stages of Breast Cancer?</h4><br>
        <h6 class="content1">There are two types of cancer: invasive and non-invasive. Invasive cancer spreads to other tissues, while non-invasive cancer does not. Healthcare professionals determine the spread of cancer by classifying it into stages. Stages range from stage 0 to stage 4. The lower the number of stages, the less the cancer has spread.</h6>
        <ul>
            <li><h6 class="content1">Stage 0: Carcinoma in situ, confined to the milk duct’s interior.</h6></li>
            <li><h6 class="content1">Stage 2: the breast, adjacent lymph nodes, or both have cancer.</h6></li>
            <li><h6 class="content1">Stage 3: the breast surface, surrounding lymph nodes, or the chest wall have all been affected by the cancer.</h6></li>
            <li><h6 class="content1">Stage 4: The cancer has progressed to other body regions, including the lungs and bones.</h6></li>
        </ul>
        <h4 class="questions">What are the Causes of Breast Cancer?</h4><br>
        <h6 class="content1">Most breast cancers have an unknown, specific cause. Researchers have identified some factors that raise the risk of breast cancer. These include environmental factors, lifestyle decisions, hormones, age, weight, and breast density. Breast cancer most likely develops from a complicated interplay between environmental factors and your genetic makeup. Genetic alterations inside breast tissue cells are the primary cause of breast cancer.

            Ready to take control of your health journ</h6>
            <h4 class="questions">Which Medications are Commonly Used to Treat Breast Cancer?</h4><br>
            <h6 class="content1">The following describes the common therapy types for both locally progressed and early-stage breast cancer. An essential component of cancer care is managing symptoms and side effects, which are covered in your care plan as well.</h6>
            <ul>
                <li><h6 class="content1">Surgery: Surgery involves removing the lump or affected breast, including surrounding tissue. The smaller the lump, the more surgical options there are. Lumpectomy and mastectomy are the types of surgical procedures done for breast cancer patients. Lumpectomy involves removing only a lump, and mastectomy involves obliterating the breast.</h6></li>
                <li><h6 class="content1">Radiation Therapy: High-energy X-rays or other particles are used in radiation treatment to kill cancer cells</h6></li>
            </ul>
            <h5 class="types">There are Several Types of Radiation Therapies:</h5>
            <ul>
                <li><h6 class="content1">Whole or partial breast irradiation</h6></li>
                <li><h6 class="content1">Proton therapy</h6></li>
                <li><h6 class="content1">Intensity-modulated radiation therapy</h6></li>
                <li><h6 class="content1">Neoadjuvant radiation therapy</h6></li>
            </ul>
            <h5 class="types">Breast Cancer Treatment Options Using Medications Include:</h5>
            <ul>
                <li><h6 class="content1">Chemotherapy</h6></li>
                <li><h6 class="content1">Immunotherapy</h6></li>
                <li><h6 class="content1">Targeted therapy</h6></li>
                <li><h6 class="content1">Hormonal therapy</h6></li>
            </ul>
            <h4 class="questions">How to Identify Breast Cancer?</h4>
            <h6 class="content1">Most of the women with breast cancer do not experience any symptoms. But it can be identified with some signs and symptoms like a lump (hard mass in the breast, redness around the nipple, change in the appearance of the breast, dimpling and irritation of the skin, and clear discharge from the nipple. If you experience any of the symptoms, consult your gynaecologist.</h6>
    </div>
</div>
