<div class="dental">
    <div class="image-container">
<img src="https://wfmchealth.org/wp-content/uploads/2019/05/happy-woman-with-baby-and-doctor-at-clinic-PH389XP-1024x682.jpg"alt="" style="width: 60%;height: 500px;margin-top: 1rem;">
</div>
<h1>Top Pediatrics Doctors Available</h1>
<div class="container">
    <div class="card" *ngFor="let doctor of DoctorsList">
        <img class="card-img-top" [src]="doctor.img" alt="Card image cap">
        <div class="card-body">
            <h2>{{doctor.name}}</h2>
            <h3>{{doctor.qualification}}</h3>
            <h3>{{doctor.exp}}</h3>
            <a href="#" class="book-now">BOOK NOW</a>
        </div>
    </div>
</div>
</div>

