.dental h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    margin-top: 3rem;
    color: black;
    margin-left: 3rem;
    
}

.image-container {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right, rgba(255, 192, 203, 0.201), rgba(0, 0, 0, 0.059), rgba(208, 235, 235, 0.42));
    padding: 1rem 0;
}

.header-img {
    width: 60%;
    height: 400px;
    margin-top: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container {
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 1.5rem;
    padding: 20px;
  
   
    margin-top: 2rem;
}

.card {
    display: flex;
    flex-direction: row;
    width: 100%;
   
    border: 1px solid #ddd;
    border-radius: 3px;
   margin: 1rem;
   
    background-color: #fff;
}



.card-img-top {
   width: 12rem;
   
    object-fit: cover;
    border-right: 1px solid #ddd;
}

.card-body {
    padding: 1rem;
    text-align: left;
    flex-grow: 1;
}

.card-body h2 {
    font-size: 1.2rem;
    color:rgba(48, 206, 206, 0.701) ;
    margin-bottom: 0.5rem;
}

.card-body h3 {
    font-size: 1rem;
    color: #555;
    margin-bottom: 0.5rem;
}

.book-now {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: rgba(48, 206, 206, 0.84);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.book-now:hover {
    background-color: #555;
    color: white;
}
