<div class="dental">
    <div class="image-container">
<img src="https://plymouthmeetingdermatology.com/wp-content/uploads/2020/11/when_to_see_doc.jpg"alt="" style="width: 60%;height: 400px;margin-top: 1rem;">
</div>
<h1>Top Dermatology Doctors Available</h1>
<div class="container">
    <div class="card" *ngFor="let doctor of DoctorsList">
        <img class="card-img-top" [src]="doctor.img" alt="Card image cap">
        <div class="card-body">
            <h2>{{doctor.name}}</h2>
            <h3>{{doctor.qualification}}</h3>
            <h3>{{doctor.exp}}</h3>
            <a href="#" class="book-now">BOOK NOW</a>
        </div>
    </div>
</div>
</div>



