<div>
  <div class="dept1">
    <div class="card mb-3" style="max-width: 690px; border-style: dotted;background-color: azure;">
      <div class="row g-0">
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title" style="color: rgba(61, 223, 223, 0.998);">Expert Care Anywhere, Anytime!</h5>
            <p class="card-text">Special Savings for Seniors 15% Off Every Appointment Valid for 3 Months</p>
 </div><button class="button" routerLink="/booking">BOOK NOW</button>

        </div>
        <div class="col-md-4">
          <img src="https://app.virtually.healthcare/images/welcome_hero/1200x687-virtually-homebanner.jpg" alt=""
            style="width:44rem; height: 24rem;margin-left: 5rem;">
        </div>

      </div>
    </div>
    <div class="tag1">
      <h2>Our Best Doctors for All Specialities</h2>
    </div>
    <div class="container">
      <div class="list1" (click)="onSpecialityChange(1)">
        <img src="https://thedentistsdorridge.co.uk/wp-content/uploads/2019/11/be_a_denist.jpg" alt="dentist">
        <a routerLink="/dental">Dentistry</a>
      </div>
      <div class="list1" (click)="onSpecialityChange(2)">
        <img
          src="https://thumbs.dreamstime.com/b/professional-oncologist-concept-cancer-disease-diagnostic-treatment-oncology-chemotherapy-biopsy-tumor-removal-isolated-flat-200493456.jpg"
          alt="dentist">
        <a routerLink="/oncologist">Oncologist</a>
      </div>
      <div class="list1" (click)="onSpecialityChange(3)">
        <img src="https://img.freepik.com/premium-vector/doctor-advise-teaches-knowledge-heart-diseases_105783-115.jpg"
          alt="dentist">
        <a routerLink="/cardiologist">Cardiologist</a>
      </div>
      <div class="list1" (click)="onSpecialityChange(4)">
        <img
          src="https://us.123rf.com/450wm/artinspiring/artinspiring2010/artinspiring201001049/157557896-neurologist-concept-doctor-examine-human-brain-idea-of-doctor.jpg"
          alt="dentist">
        <a routerLink="/neuro">Neurologist</a>
      </div>
      <div class="list1" (click)="onSpecialityChange(5)">
        <img
          src="https://www.shutterstock.com/image-vector/osteoporosis-concept-doctors-examine-spine-260nw-2006130221.jpg"
          alt="dentist">
        <a routerLink="/ortho">Orthopedist</a>
      </div>
      <div class="list1" (click)="onSpecialityChange(6)">
        <img
          src="https://media.istockphoto.com/id/1248387187/vector/mom-and-child-are-examined-by-a-pediatrician-neonatologist-medical-appointment-in-the.jpg?s=612x612&w=0&k=20&c=ogt49ViFUCmSid8rgdYlupC3Icup8p80kbpQS-oLsUQ="
          alt="dentist">
        <a routerLink="/children">Pediatrician</a>
      </div>
      <div class="list1" (click)="onSpecialityChange(7)">
        <img
          src="https://media.istockphoto.com/id/1195893421/vector/gynecology-and-women-health-consultation-with-a-gynecologist-or-reproductologist.jpg?s=612x612&w=0&k=20&c=1BTLH1NqII0OjcIPrAj7fP710C-Y8nt6fQWxNyb_ybE="
          alt="dentist">
        <a routerLink="/gynecologist">Gynecologist</a>
      </div>
      <div class="list1" style="width: 13rem;height: 12rem;" (click)="onSpecialityChange(8)">
        <img
          src="https://media.istockphoto.com/id/1304939466/vector/gastroenterology-concept.jpg?s=612x612&w=0&k=20&c=f3V2L5DVXTfRa-sgbh5RwuJ927hHrVvOztXGkBGpiS0="
          alt="dentist" style="width: fit-content;">
        <a routerLink="/gastro" style="font-size: 1.2rem;">Gastroenterologist</a>
      </div>
      <div class="list1" (click)="onSpecialityChange(9)">
        <img
          src="https://img.freepik.com/free-vector/dermatologist-concept-dermatology-specialist-face-skin-acne-treatment-idea-beauty-health-skin-epidermis-scheme-vector-illustration-cartoon-style_613284-1152.jpg"
          alt="dentist">
        <a routerLink="/dermal">Dermatologist</a>
      </div>
      <div class="list1" (click)="onSpecialityChange(10)">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuKdlaRo5XvRULteCI5BSLJKTcUbuzhOfqpw&s"
          alt="dentist">
        <a routerLink="/nutrition">Nutritionist</a>
      </div>
      <div class="list1" (click)="onSpecialityChange(11)">
        <img
          src="https://www.clipartmax.com/png/small/19-199626_thanks-to-the-recent-discoveries-of-modern-applied-psychologist-vs-psychiatrist-vs.png"
          alt="dentist">
        <a href="">Pyschologist</a>
      </div>
      <div class="list1" style="width: 13rem;" (click)="onSpecialityChange(12)">
        <img
          src="https://static.vecteezy.com/system/resources/previews/004/972/633/non_2x/ophthalmologists-checking-patient-sight-free-vector.jpg"
          alt="dentist">
        <a href="" style="font-size: 1.2rem;">Ophthalmologist</a>
      </div>
      <div class="list1" (click)="onSpecialityChange(13)">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBBt3BCpEYwNwncoYZQjwcu6mhE2JeBRrNgQ&s"
          alt="dentist">
        <a href="">Nephrologist</a>
      </div>
      <div class="list1" (click)="onSpecialityChange(14)">
        <img
          src="https://thumbs.dreamstime.com/b/pulmonologist-vector-illustration-doctor-pulmonology-lungs-respiratory-system-examination-treatment-flat-cartoon-277361527.jpg"
          alt="dentist">
        <a href="" style="font-size: 1.2rem;">Pulmonologist</a>
      </div>
      <div class="list1" (click)="onSpecialityChange(15)">
        <img
          src="https://img.freepik.com/free-vector/urologist-concept-idea-kidney-bladder-treatment-hospital-care-kidney-examination-endoscopy-partial-nephrectomy-urology-internal-human-organ-vector-illustration-cartoon-style_613284-2927.jpg"
          alt="dentist">
        <a href="">Urologist</a>
      </div>
      <div class="list1" (click)="onSpecialityChange(16)">
        <img
          src="https://previews.123rf.com/images/graphicbee/graphicbee1707/graphicbee170700093/83775192-male-general-practitioner-vector-illustration-of-a-smiling-doctor-or-family-practitioner.jpg"
          alt="dentist" style="padding-top: 1rem;">
        <a routerLink="/general" style="font-size: 1.2rem;">General <br>Physician</a>
      </div>
    </div>
  </div>
  <div class="doctors-list" *ngIf="doctors.length > 0">
    <h3>Doctors in Selected Department</h3>
    <div *ngFor="let doctor of doctors" class="doctor-card">
      <h4>{{ doctor.name }}</h4>
      <p>Experience: {{ doctor.exp }}</p>
      <p>Qualification: {{ doctor.qualification }}</p>
      <img [src]="doctor.img" alt="{{ doctor.name }}">
    </div>
  </div>
</div>
