.end-image{
    width: 100%;
    height: auto;
    
}
.card-title{
    font-size: 1.8rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 5rem 0 0 0;
    
}
.button{
    background-color:rgba(59, 208, 208, 0.998);
    color: white;
    border: none;
    font-size: 1.5rem;
   margin: 1rem 0 0 9.4rem;
   
   
}
.card-text{
    text-align: center;
    margin-top: 2rem;
    font-size: 1rem;
}
.tag1{
    color:rgba(61, 223, 223, 0.998) ;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding-top: 4rem;
}

.list1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 11rem;
    height: 11rem;
    background-color: azure;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 4rem;
}
.list1 img {
    width: 6rem;
    height:6rem;
    padding: 0.5rem;
}
.list1 a {
    margin-top: 10px;
    font-weight: bolder;
    color: rgba(55, 194, 194, 0.998);
    font-size: 1.3rem;
    text-decoration: none;
    
}
.list1 a:hover{
text-decoration:underline;
text-decoration-color: black;

}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 4rem;
    padding-bottom: 4rem;
}

