<div class="dental">
    <div class="image-container">
        <img src="https://northerndentaldesign.com.au/wp-content/uploads/2022/04/Secrets-Your-Dentist-Wont-Tell-You-I-will-do-anything-for-teeth-but-I-wont-do-that-Epping-Wollert-South-Morang-Melbourne-Northern-Dental-Design.png"
            alt="" class="header-img">
    </div>
    <h1>Top Dental Doctors Available</h1>
    <div class="container">
        <div class="card" *ngFor="let doctor of DoctorsList">
            <img class="card-img-top" [src]="doctor.img" alt="Card image cap">
            <div class="card-body">
                <h2>{{doctor.name}}</h2>
                <h3>{{doctor.qualification}}</h3>
                <h3>{{doctor.exp}}</h3>
                <a href="#" class="book-now">BOOK NOW</a>
            </div>
        </div>
    </div>
</div>
